<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
</head>
<body>
<div
  style="font-size: 16px; color: rgb(47, 41, 54); padding: 0px; font-family: Roboto; width: 100%; font-weight: 300; margin: 0px; background-color: rgb(255, 255, 255);">
  <div style="padding: 0; font-size: 0; display: none; max-height: 0; font-weight: 300; line-height: 0">
    <br>
  </div>
  <table
    style="border-radius: 4px; font-size: 16px; color: rgb(47, 41, 54); border-collapse: separate; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); border-spacing: 0; max-width: 700px; font-family: Roboto; border: 1px solid rgb(199, 208, 212); padding: 0; width: 100%; font-weight: 300; margin: 15px auto; background-color: rgb(255, 255, 255)">
    <tbody>
    <tr style="font-weight: 300">
      <td style="padding: 0; font-weight: 300; margin: 0; text-align: center">
        <div style="padding: 23px 0; font-size: 14px; font-weight: 300; border-bottom: 1px solid rgb(222, 231, 235)">
          <div style="padding: 0 20px; max-width: 600px; font-weight: 300; margin: 0 auto; text-align: left">
            <h1
              style="font-size: 38px; color: rgb(0, 0, 0); letter-spacing: -1px; padding: 0; font-weight: normal; margin: 0; line-height: 42px">
              <a target="_blank" style="color: rgb(70, 116, 202); font-weight: 500; text-decoration: none"
                 href="https://virtualclinic.com.py/">
                <img src="http://virtualclinic.com.py/static/img/milo.png" width="200" alt="Logo empresa">
              </a>
              <br>
            </h1>
          </div>
        </div>
      </td>
    </tr>
    <tr style="font-weight: 300">
      <td style="padding: 0; font-weight: 300; margin: 0; text-align: center">
        <div style="padding: 0 20px; max-width: 600px; font-weight: 300; margin: 0 auto; text-align: left">
          <div style="padding: 30px 0 20px; font-weight: 300; background-color: rgb(255, 255, 255)">
            <p style="font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
              <span class="size" style="font-size: 16px; font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
                Hola <strong>{{ user.full_name }}</strong>!,
                <br style="font-weight: 300">
                Le damos la bienvenida a <strong>Virtualclinic</strong>. Para activar su cuenta, por favor envíe un mensaje de <a href="https://api.whatsapp.com/send/?phone=595986747136&text=Buenas%20ya%20realice%20mi%20pago">WhatsApp</a> o un <a href="mailto:admin@ogsystems.com.py">email</a> con el comprobante de pago.
              </span>
            </p>
            <table style="width: 80%; font-weight: 300; margin: 0 auto auto 10; border-collapse: collapse;">
              <tbody>
                <tr>
                  <td style="padding: 5px; border: 1px solid #ddd;font-weight: 500;">Banco:</td>
                  <td style="padding: 5px; border: 1px solid #ddd;">Itau</td>
                </tr>
                <tr>
                  <td style="padding: 5px; border: 1px solid #ddd; font-weight: 500;">Titular:</td>
                  <td style="padding: 5px; border: 1px solid #ddd;">Oscar Gonzalez</td>
                </tr>
                <tr>
                  <td style="padding: 5px; border: 1px solid #ddd;font-weight: 500;">CI:</td>
                  <td style="padding: 5px; border: 1px solid #ddd;">4648960</td>
                </tr>
                <tr>
                  <td style="padding: 5px; border: 1px solid #ddd;font-weight: 500;">Cta. cte.:</td>
                  <td style="padding: 5px; border: 1px solid #ddd;">700201590</td>
                </tr>
              </tbody>
            </table>
            <p style="font-weight: 300; margin: 10px 0px 15px; line-height: 24px;">
              <span class="size" style="font-size: 16px; font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
                También hacé click <a href="{{reset_url}}">acá</a> para establecer tu contraseña.
              </span>
              <br>
            </p>
            <p style="font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
              <span class="size" style="font-size: 16px; font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
                Gracias,
                <br style="font-weight: 300">
                El equipo de Virtualclinic
              </span>
            </p>
            <p style="font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
              <span class="colour" style="color:rgb(104, 114, 118)">
                <span class="size" style="font-size: 16px; font-weight: 300; margin: 0px 0px 15px; line-height: 24px;">
                  Necesitas ayuda? No dudes en contactarnos en <a href="mailto:admin@ogsystems.com.py"
                                                                  style="color: inherit;">admin@ogsystems.com.py</a>.
                </span>
              </span>
              <br>
            </p>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>