{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    {% if object %}
        Editar Consulta
    {% else %}
        Agregar Consulta
    {% endif %}
{% endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item text-sm text-dark ms-2"><a href="{% url 'pacientes' %}">Pacientes</a></li>
<li class="breadcrumb-item text-sm text-dark ms-2"><a href="{% url 'paciente' paciente.pk %}">{{ paciente.nombre_completo }}</a></li>
<li class="breadcrumb-item text-sm text-dark ms-2"><a href="{% url 'paciente-consultas' paciente.pk %}">Consultas Paciente</a></li>
<li class="breadcrumb-item active text-sm text-dark ms-2" aria-current="page"> {% if object %} Editar {% else %}  Agregar {% endif %} Consulta </li>
{% endblock breadcrumb %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card my-4">
                <div class="card-header bg-primary py-3">
                    <h6 class="text-white text-uppercase m-0">
                        {% if object %}
                            Editar Consulta
                        {% else %}
                            Agregar Consulta
                        {% endif %}
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post" class="row g-3" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field|add_class:"form-control border px-3 py-2" }}
                            </div>
                            <span class="text-danger">{{ field.errors }}</span>
                        </div>
                        {% endfor %}
                        {% if form.instance.pk %}
                            {% if form.instance.archivos.exists %}
                                  {% for file in form.instance.archivos.all %}
                                    <div class="row mb-3">
                                      <div class="col-4">
                                      <a href="{{file.archivo.url}}" target="_blank">{{file}}</a>
                                      </div>
                                      <div class="col-2">
                                      <button type="button" class="badge bg-danger border border-white" data-bs-toggle="modal" onclick="setArchivo({{file.id}})" data-bs-target="#exampleModal"><i class="material-icons opacity-10">delete</i></button>
                                      </div>
                                    </div>
                                  {% endfor %}
                            {% endif %}
                        {% endif %}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">
                                {% if object %}
                                    Guardar
                                {% else %}
                                    Agregar Consulta
                                {% endif %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar archivo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Está seguro de eliminar el archivo?
          </div>
          <div class="modal-footer">
            <form id="formEliminarArchivo" method="post" action="asdf">
              {% csrf_token %}
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var labels = document.getElementsByTagName("label");
        for (var i = 0; i < labels.length; i++) {
            if(["Paciente:"].includes(labels[i].innerHTML)){
                labels[i].classList.add("visually-hidden");
            }
        }
    });
    function setArchivo(fileID) {
      document.getElementById("formEliminarArchivo").action = "/clinicadmin/archivo-consulta/" + fileID + "/{{paciente.id}}/{{consulta.id}}"
    }
</script>
{% endblock content %}
