{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Confirmar Eliminación {% endblock title %}
{% block breadcrumb %}
<li class="breadcrumb-item text-sm text-dark ms-2"><a href="{% url 'pacientes' %}">Pacientes</a></li>
<li class="breadcrumb-item active text-sm text-dark ms-2" aria-current="page">Eliminar Paciente {{ object.nombre_completo }}</li>
{% endblock breadcrumb %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card my-4">
                <div class="card-header bg-danger py-3">
                    <h6 class="text-white text-uppercase m-0">Confirmar Eliminación</h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ confirm_delete_form.paciente_id }}
                        <p>¿Estás seguro de que deseas eliminar al paciente "{{ object.nombre_completo }}"?</p>
                        <p>Información del paciente:</p>
                        <ul>
                            <li>Nombre: {{ object.nombre_completo }}</li>
                            <li>Nro. documento: {{ object.nro_documento }}</li>
                        </ul>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'pacientes' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
